body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.h-100 {
  background-color: #2e3092;
}

.login-form{
  /* fallback for old browsers */
  background: #f3f3ff;
}


@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}
.sidebar{
	height: 100%;
	position: fixed;
	top:  0;
	left: 0;
	width: 240px;
	background: blueviolet;
	padding: 6px 14px;
}
.sidebar .logo_content .logo{
	color:  #fff;
	display: flex;
	height: 50px;
	width: 100%;
	align-items: center;
}
.logo_content .logo i{
	font-size: 28px;
	margin-right: 5px;
}
.logo_content .logo .logo_name{
	font-size: 20px;
	font-weight: 400;
}
.sidebar #btn{
	position: absolute;
	color:  #fff;
	left: 90%;
	top:  6px;
	font-size: 20px;
	height: 50px;
	width: 50px;
	text-align: center;
	line-height: 50px;
	transform: translateX(-50%);
}
.sidebar ul{
	margin-top: 20px;
}
.sidebar ul li{
	list-style: none;
	height: 50px;
	position: relative;
	width: 100%;
	margin: 0 5px;
	line-height: 50px;
	border-radius: 12px;
}
.sidebar ul li a{
	color:  black;
	display: flex;
	align-items: center;
	text-decoration: none;
	transition: all 0.2s ease;

}
.sidebar ul li a:hover{
	color:  darkblue;
	background-color: white;
	border-radius: 12px;
	display: flex;
	align-items: center;
	text-decoration: none;
}
.sidebar ul li a i{
	height: 50px;
	border-radius: 12px;
	min-width: 50px;
	border-radius: 12px;
	line-height: 50px;
	text-align: center;
}
.sidebar ul li i{
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}